body {
  margin: 0;
  background: #f9f9f9;
  padding: 20px;
}
#back{
  top: 20px;
  right: 30px;
  background: rgb(26,26,26);
  color: white;
  padding: 5px 10px 10px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#back:hover {
  background-color: #444;
}
.main-product {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 20px;
  display: flex;
  gap: 40px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  margin-bottom: 40px;
}
.product-details {
  flex: 1;
  padding: 10px;
}
.other-heading{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.product-details h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 20px;
  margin-bottom: 20px;
}

.product-details button {
  background-color: rgb(26,26,26);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.product-details button:hover {
  background-color: #444;
}

.floating-cart {
  position: fixed;
  top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  right: 30px;
  background: rgb(26, 26, 26);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  z-index: 1000;
  font-weight: bold;
}
.floating-cart:hover {
  background-color: #444;
}

.divider {
  margin: 40px 0;
}

.other-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.recommend {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.rec-item {
  width: 200px;
  background: white;
  border-radius: 10px;
  font-size: 17px;
  padding: 10px 10px 0px 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
#desc{
  padding-right: 30px;
}
.rec-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.img-zoom{
  width: auto;
  height: 400px;
  overflow: hidden;
  position: relative;
  border: 2px solid #ccc;
}

#productImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
  transform: scale(1);
}

.img-zoom:hover #productImage {
  transform: scale(2.4);
}
@media (max-width:768px){
  #desc{
    display: none;
  }
}