*{
    margin: 0px;
    padding: 0px;

}
#home{
    font-size: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main{
    font-size: 70px;
    margin-left: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.head{
    margin-top: 30px;
    font-size: 50px;
    margin-left: 117px;
}
.pic{
    margin-top: 10px;
    width: 230px;
    height: 270px;
}
.Shoe{
    display: flex;
    margin-bottom: 40px;
}
.shoe{
    padding-left: 110px;
}
.shoe1{
    margin-left: 120px;
}
.nt{
    font-size: 130%;
    margin-top: 10px;
}
.price{
    color: gray;
    margin-top: 17px;
    font-size: 120%;
}
button{
    border: 0;
    margin-right: 120px;
    margin-top: 20px;
    padding: 5px;
    font-size: 100%;
}
hr{
    margin-left: 16px;
    margin-bottom: 30px;
    margin-right: 60px;
    margin-top: 5px;
}
.apic{
    width: 200px;
    height: 210px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.ppic{
    width: 200px;
    margin-top: 10px;
    height: 210px;
    margin-bottom: 10px;
}
.footer{
    display: flex;
    color: white;
    background-color: rgb(31, 31, 31);
    margin-top: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fh{
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}
.f1{
    margin-left: 30px;
}
#f1t{
    font-size: 15px;
}
.f2{
    margin-left: 110px;
}
.fta{
    text-decoration: none;
    color: white;
}
.f3{
    margin-left: 110px;
}
.f4{
    margin-left: 110px;
}
#mail{
    border: 0px;
    background-color:  rgb(31, 31, 31);
    width: 200px;
}
#f4u{
    margin-left: 0px;
    margin-top: 2px;
    margin-right: 122px;
}
#ha{
    text-decoration: none;
    color: black;
}
.img-container{
    overflow: hidden;
}
.img-container img{
    transition: transform 0.35s ease-in-out;
}
.img-container:hover img {
  transform: scale(1.2);
}
#np{
    scale: 1.1;
}